PUBLIC_DOMAIN="your.domain"
DATA_PATH="your/path/to/data"
JELLY_DATA_PATH="your/path/to/data"

HOMEPAGE_VAR_DOMAIN=${PUBLIC_DOMAIN}

HOMEPAGE_VAR_JELLYSEERR_KEY=CENSORED
HOMEPAGE_VAR_JELLYFIN_KEY=CENSORED
HOMEPAGE_VAR_SONARR_KEY=CENSORED
HOMEPAGE_VAR_RADARR_KEY=CENSORED
HOMEPAGE_VAR_PROWLARR_KEY=CENSORED
HOMEPAGE_VAR_BAZARR_KEY=CENSORED
HOMEPAGE_VAR_QBIT_USERNAME=CENSORED
HOMEPAGE_VAR_QBIT_PASSWORD=CENSORED
HOMEPAGE_VAR_NEXTCLOUD_USERNAME=CENSORED
HOMEPAGE_VAR_NEXTCLOUD_PASSWORD=CENSORED
HOMEPAGE_VAR_IMMICH_KEY=CENSORED

# Scrutiny webhook need to be in shoutarr format
SCRUTINY_NOTIFY_URLS="discord://<webhook_token>@<channel_id>"
