PUBLIC_DOMAIN="your.domain"
DATA_PATH="your/path/to/data"
JELLY_DATA_PATH="your/path/to/data"
THIRD_DISK_PATH="your/path/to/data"

HOMEPAGE_VAR_DOMAIN=${PUBLIC_DOMAIN}

HOMEPAGE_VAR_JELLYSEERR_KEY=<YOUR_VALUE_HERE>
HOMEPAGE_VAR_JELLYFIN_KEY=<YOUR_VALUE_HERE>
HOMEPAGE_VAR_SONARR_KEY=<YOUR_VALUE_HERE>
HOMEPAGE_VAR_SONARR_ANIME_KEY=<YOUR_VALUE_HERE>
HOMEPAGE_VAR_RADARR_KEY=<YOUR_VALUE_HERE>
HOMEPAGE_VAR_PROWLARR_KEY=<YOUR_VALUE_HERE>
HOMEPAGE_VAR_BAZARR_KEY=<YOUR_VALUE_HERE>
HOMEPAGE_VAR_QBIT_USERNAME=<YOUR_VALUE_HERE>
HOMEPAGE_VAR_QBIT_PASSWORD=<YOUR_VALUE_HERE>
HOMEPAGE_VAR_NEXTCLOUD_USERNAME=<YOUR_VALUE_HERE>
HOMEPAGE_VAR_NEXTCLOUD_PASSWORD=<YOUR_VALUE_HERE>
HOMEPAGE_VAR_IMMICH_KEY=<YOUR_VALUE_HERE>
HOMEPAGE_VAR_BESZEL_USERNAME=<YOUR_VALUE_HERE>
HOMEPAGE_VAR_BESZEL_PASSWORD=<YOUR_VALUE_HERE>
HOMEPAGE_VAR_GLUETUN_KEY=<YOUR_VALUE_HERE>

# Scrutiny webhook need to be in shoutarr format
SCRUTINY_NOTIFY_URLS="discord://<webhook_token>@<channel_id>"
