# Not normal username and password
VPN_USERNAME="<VPN_USERNAME>"
VPN_PASSWORD="<VPN_PASSWORD>"

MEDIA_PATH="/path/to/medias/folder"
TAILSCALE_DOMAIN="your.domain.com"

# Set on web ui
QBITTORRENT_USERNAME="<username>"
QBITTORRENT_PASSWORD="<password>"
